.navbar {
  margin-bottom: 0px;
}

#imgDropArea {
  background-color: #dadada;
}

#newAppointmentBtn {
  margin-bottom: 20px;
  margin-top: -18px;
}

#upcomingAppointments .panel {
  margin-bottom: -1px;
}

#upcomingAppointments .panel h3, #upcomingAppointments .panel span{
  margin-top: 10px;
}

#newCustomerBtn {
  margin-top: 27px;
}

#searchearningsbtn .btn {
  margin-top: 32px;
}

.slick-current {
  cursor: pointer;
}

.create-form {
  margin: 20px;
}

table a .pe-7s-pen,
table a .pe-7s-delete-user {
  font-size: 24px;
}

table a .pe-7s-pen {
  color: rgb(93, 200, 76);
}
table a .pe-7s-delete-user {
  color: rgb(200, 76, 76);
}

input .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
input .form-control::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
input .form-control:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
input .form-control:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

body > .navbar-collapse > ul {
  overflow-y: auto;
}

.sidebar, .main-panel {
  max-height: 100vh;
}

.timepicker {
  max-width: 170px;
}

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
    background: none;
    color: #f88;
    cursor: not-allowed;
}

.fc-unthemed .fc-today {
    background: rgba(42, 127, 232, 0.13);
}

.slick-arrow {
  z-index: 2000;
}

.slick-lightbox-slick-item-inner a {
  position: absolute;
  color: #fff;
  font-size: 23px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
  margin-left: 10px;
  margin-top: 10px;
  width: 37px;
}



//************************************************************
//
//        Single Appointment Page
//
//************************************************************
.appointment-header {
  position: relative;
  margin-top: 0px;
  background-image: url('http://bookingapp.test/storage/img/appointment_imgs/cover_image/default.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px;
  color: #fff;
  &:before {
    content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  	opacity: .6;
  }
}

.appointment-header-default {
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

#appointment-header a {
  color: #fff;
}
#appointment-header a:hover {
  color: #fff;
  text-decoration:none;
}

.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  z-index: 10;
}

.slick-prev:before, .slick-next:before{
    color:red;
}

.slick-track {
  margin-bottom: 10px;
}

.slick-slider-image {
  text-align: right;
  height: 400px;
}
.slick-slider-img {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-slide img {
  display: inline-block;
}

.slick-slider-nav-img{
  height: 200px;
  background-image: url('http://bookingapp.test/storage/img/appointment_imgs/cover_image/default.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-right {
  // display: inline-block;
  // max-width: 50%;
  // float: right;
}

.slick-slider-nav {
  clear: both;
}

.add-margin-left {
  margin-left: 20px !important;
}
